* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#wrapper {
  width: 100%;
  height: auto;
  display: block;
}

/*ACTIVITIES STYLES*/

#container1 {
  background-color: rgb(241, 241, 242);
  padding: 20px 20px 20px 20px;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 15px 15px 0 0;
}

#container1 h2 {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 30px;
  font-weight: 375;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3);
}

#container1 h3 {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 375;
  margin-left: 30px;
  text-align: center;
}

#container1 p {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  margin-left: 30px;
  text-align: center;
}

.act-images {
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-top: 20px;
}
.subt h2 {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top: 25px;
  text-shadow: rgba(0, 0, 0, 0.3);
  color: white;
}
.container-img {
  background-image: url("aestc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
  margin-bottom: 15px;
}

.container2 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.card1 {
  background: white;
  width: 325px;
  height: 400px;
  margin: 25px;
  border-radius: 15px;
}

.card-image {
  background-color: skyblue;
  height: 220px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}
.car-1 {
  background-image: url("palabra.jpg");
  background-size: cover;
}
.car-2 {
  background-image: url("palabra.jpg");
  background-size: cover;
}
.car-3 {
  background-image: url("oracion.jpg");
  background-size: cover;
}
.card1 p {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  text-align: center;
}
.card1 h2 {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 350;
  text-align: center;
}

/*HOME PAGE STYLES*/

.image img {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  top: 12px;
  background-color: white;
  border-color: white;
  border-radius: 40px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.header {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header:hover::after {
  left: 100%;
}

nav a {
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
}

nav a:hover {
  color: grey;
}

.centimg {
  background-image: url(nvda.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
}
.centimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#check {
  display: none;
}

.icons {
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
}

.mainsec h2 {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 375;
  height: 20.869566px;
  letter-spacing: 1px;
  line-height: 21.120001px;
  margin-block-end: 30px;
  margin-block-start: 0px;
  margin-bottom: 30px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}

main .par {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  letter-spacing: 1px;
  line-height: 21.120001px;
  font-weight: 200;
}

.p2 {
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  text-align: center;
}

.logoimg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.links {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  letter-spacing: 1.5px;
  line-height: 25.599998px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 0px;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 14px;
}

.links a:hover {
  color: grey;
}

.footer {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 11.2px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 2px;
  line-height: 25.599998px;
  height: auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: auto;
  background-color: rgb(241, 241, 242);
}

/*GROUPS STYLES*/

.grpsimg {
  background-image: url(groups.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
}

.grpsimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-grps {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-image: linear-gradient(#fed9d5, #fca69c);
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-bottom: 25px;
}

.card2 {
  background: white;
  width: 325px;
  height: 400px;
  margin: 25px;
  border-radius: 15px;
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
}

.card-image {
  background-color: skyblue;
  height: 220px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}
.grp-1 {
  background-image: url("kids.jpg");
  background-size: cover;
}
.grp-2 {
  background-image: url("mission.jpg");
  background-size: cover;
}
.grp-3 {
  background-image: url("elders.jpg");
  background-size: cover;
}
.card2 p {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  text-align: center;
}
.card2 h2 {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 350;
  text-align: center;
}

.card2:hover {
  transform: scale(1.03);
}

.card2 a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
  border-radius: 15px;
}

/*KIDS STYLES*/

.kidsimg {
  background-image: url(kids.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
}
.kidsimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containerkids {
  background-color: rgb(241, 241, 242);
  padding: 20px 20px 20px 20px;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
#containerkids h2 {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 30px;
  font-weight: 375;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3);
}

#containerkids h3 {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 375;
  margin-left: 30px;
  text-align: center;
}

#containerkids p {
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  margin-left: 30px;
  text-align: center;
}

.goback {
  text-align: center;
}
.goback a {
  color: black;
}
.goback a:hover {
  color: grey;
}
/*ELDERS STYLES*/

.elderimg {
  background-image: url(elders.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
}
.elderimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*MISSION STYLES*/

.missionimg {
  background-image: url(mission.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
}
.missionimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaders-img {
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 15px justify-content;
  white-space: normal;
  align-items: center;
  z-index: 100;
  margin-top: 20px;
}
.leaders-img h3 {
  margin-right: 25px;
}
.leaders-img p {
  margin-right: 25px;
  margin-bottom: 15px;
}

/*ABOUT STYLES*/
.aboutimg {
  background-image: url(waw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
}
.aboutimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.histimg {
  background-image: url(hist.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 15px;
}
.histimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.8) 20px 20px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainsection h2 {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: HelveticaNeueLTPro-Lt, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 375;
  height: 20.869566px;
  letter-spacing: 1px;
  line-height: 21.120001px;
  margin-block-end: 30px;
  margin-block-start: 0px;
  margin-bottom: 6px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}

/*CONTACT STYLES*/

.contimg {
  background-image: url(contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  padding-top: 95px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0 0 15px 15px;
}
.contimg h1 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  height: 89.565216px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
  vertical-align: middle;
  white-space: normal;
  line-height: 0.9em;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mac table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.mac td {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 60px;
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
}

.phone {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 25px;
  display: none;
}
.phone td {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 60px;
  font-family: HelveticaNeueLTPro-Roman, sans-serif;
}

/* BREAKPOINTS*/

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }

  .act-images {
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1.3rem 10%;
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 20px;
  }

  #container1 p {
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 350;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  .centimg {
    background-image: url(nvda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    padding-top: 95px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
  }

  .centimg h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-top: 100px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
    position: relative;
  }

  .grpsimg {
    background-image: url(groups.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    padding-top: 95px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
  }

  .grpsimg h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-top: 100px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
    position: relative;
  }

  .aboutimg {
    background-image: url(waw.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    padding-top: 95px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
  }

  .aboutimg h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-top: 100px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
    position: relative;
  }
  .histimg {
    background-image: url(hist.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    padding-top: 95px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
  }

  .histimg h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-top: 100px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
    position: relative;
  }
  .contimg {
    background-image: url(contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    padding-top: 95px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
  }

  .contimg h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-top: 100px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 200px;
    position: relative;
  }
  .phone {
    align-items: center;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 25;
    display: block;
    border-radius: 15px;
  }
  .phone table {
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-left: 65px;
  }
  .mac table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 25px;
    display: none;
  }
}
